

{% block head%}
    <title>Página não existe</title>
    
{% endblock %}

  {% block info%}


    <div class="not-found">
        <h1 style="text-align:center;" >ERROR 404 - PÁGINA NÃO EXISTE!</h1>
    </div>


  {%endblock%}